@model TitlesOrganizer.Application.ViewModels.Abstract.IPartialListVM
<div asp-action="AuthorsPartial" method="post" id="AuthorsForm">
    <div class="card w-100">
        <div class="card-header d-flex w-100 justify-content-between mb-1 bg-body-tertiary border-0 align-items-center">
            <h5>Authors</h5>
            <span>
                <select class="form-select" name="authorsPageSize" id="authorsPageSize" asp-for="Paging.PageSize" onchange="javascript:Reload('Author');">
                    <option value="1">1 author on page</option>
                    <option value="3">3 authors on page</option>
                    <option value="5">5 authors on page</option>
                    <option value="10">10 authors on page</option>
                    <option value="15">15 authors on page</option>
                    <option value="20">20 authors on page</option>
                    <option value="50">50 authors on page</option>
                    <option value="100">100 authors on page</option>
                </select>
            </span>
        </div>
        @if (Model.Paging.Count > 0)
        {
            <ul class="list-group list-group-flush">
                @foreach (var author in Model.Values)
                {
                    <li class="list-group-item list-group-item-action">
                        <a type="button" asp-action="AuthorDetails" asp-route-id="@author.Id" title="Show details">
                            @author.Description
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="card-body">
                <small><i>No associated authors</i></small>
            </div>
        }

        <div class="card-footer justify-content-center">
            @{
                var pages = Math.Ceiling(Model.Paging.Count / (double)Model.Paging.PageSize);
                int numbersNextTo = 2;
            }
            <nav aria-label="...">
                <ul class="pagination">
                    @if (Model.Paging.CurrentPage > numbersNextTo + 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GoToPage('Author', @(Model.Paging.CurrentPage - numbersNextTo - 1))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }

                    @for (int i = numbersNextTo; i >= 1; i--)
                    {
                        if (i < Model.Paging.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:GoToPage('Author', @(Model.Paging.CurrentPage - i))">
                                    @(Model.Paging.CurrentPage - i)
                                </a>
                            </li>
                        }
                    }

                    @if (pages > 1)
                    {
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">@Model.Paging.CurrentPage</span>
                        </li>
                    }

                    @for (int i = 1; i <= numbersNextTo && Model.Paging.CurrentPage + i <= pages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GoToPage('Author', @(Model.Paging.CurrentPage + i))">
                                @(Model.Paging.CurrentPage + i)
                            </a>
                        </li>
                    }

                    @if (Model.Paging.CurrentPage + numbersNextTo + 1 <= pages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GoToPage('Author', @(Model.Paging.CurrentPage + numbersNextTo + 1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
            <input type="hidden" name="authorsPageNo" id="authorsPageNo" />
        </div>
    </div>
</div>
