@model TitlesOrganizer.Application.ViewModels.Abstract.IPartialList<TitlesOrganizer.Domain.Models.LiteratureGenre>
<form asp-action="GenresPartial" method="post" id="GenresForm">
    <div class="card w-100">
        <div class="card-header d-flex w-100 justify-content-between mb-1 bg-body-tertiary border-0 align-items-center">
            <h5>Genres</h5>
            <span>
                <select class="form-select" name="genresPageSize" id="genresPageSize" asp-for="Paging.PageSize" onchange="javascript:ReloadGenres();">
                    <option value="1">1 genre on page</option>
                    <option value="3">3 genres on page</option>
                    <option value="5">5 genres on page</option>
                    <option value="10">10 genres on page</option>
                    <option value="15">15 genres on page</option>
                    <option value="20">20 genres on page</option>
                    <option value="50">50 genres on page</option>
                    <option value="100">100 genres on page</option>
                </select>
            </span>
        </div>
        <div class="card-body">
            @if (Model.Paging.Count > 0)
            {
                @foreach (var genre in Model.Values)
                {
                    <a type="button" asp-action="GenreDetails" asp-route-id="@genre.Id" class="btn btn-primary m-1">
                        @genre.Description
                    </a>
                }
            }
            else
            {
                <small><i>No associated genres</i></small>
            }
        </div>
        <div class="card-footer justify-content-center">
            @{
                var pages = Math.Ceiling(Model.Paging.Count / (double)Model.Paging.PageSize);
                int numbersNextTo = 2;
            }
            <nav aria-label="...">
                <ul class="pagination">
                    @if (Model.Paging.CurrentPage > numbersNextTo + 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GenresPagerClick(@(Model.Paging.CurrentPage - numbersNextTo - 1))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = numbersNextTo; i >= 1; i--)
                    {
                        if (i < Model.Paging.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:GenresPagerClick(@(Model.Paging.CurrentPage - i))">
                                    @(Model.Paging.CurrentPage - i)
                                </a>
                            </li>
                        }
                    }
                    @if (pages > 1)
                    {
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">@Model.Paging.CurrentPage</span>
                        </li>
                    }
                    @for (int i = 1; i <= numbersNextTo && Model.Paging.CurrentPage + i <= pages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GenresPagerClick(@(Model.Paging.CurrentPage + i))">
                                @(Model.Paging.CurrentPage + i)
                            </a>
                        </li>
                    }
                    @if (Model.Paging.CurrentPage + numbersNextTo + 1 <= pages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:GenresPagerClick(@(Model.Paging.CurrentPage + numbersNextTo + 1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
            <input type="hidden" name="genresPageNo" id="genresPageNo" />
        </div>
    </div>
</form>
