@model TitlesOrganizer.Application.ViewModels.BookVMs.BookDetailsVM
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="d-flex flex-column pb-1" style="width: fit-content;">
        <div class="m-0 pb-0" style="width:fit-content;">
            <h1 class="mb-0 align-bottom text-wrap" style="width:fit-content;">@Model.Title</h1>
        </div>
        <div class="pt-0 text-right align-top">
            @if (!string.IsNullOrEmpty(Model.InSeries))
            {
                <span>@Model.InSeries <a asp-action="SeriesDetails" asp-route-id="@Model.Series?.Id">@Model.Series?.Description</a> series</span>
            }
        </div>
    </div>
    <div class="px-1">
        <nav class="nav">
            @foreach (var author in Model.Authors)
            {
                <h3 class="px-0"><a asp-action="AuthorDetails" asp-route-id="@author.Id" class="nav-link px-2">@author.Description</a></h3>
            }
        </nav>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card px-0">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Book description
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <p class="text-justify" style="white-space: pre-line;">@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="card px-0">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Book details
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.OriginalTitle)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.OriginalTitle)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.OriginalLanguage)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.OriginalLanguage)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Edition)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Edition)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        @foreach (var genre in Model.Genres)
        {
            <a type="button" asp-action="GenreDetails" asp-route-id="@genre.Id" class="btn btn-outline-primary m-1">@genre.Description</a>
        }
    </div>
</div>
<p class="d-flex flex-row flex-wrap justify-content-evenly">
    <a class="icon-link" href=@($"/Books/Update/{Model.Id}")>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
        </svg>
        Edit
    </a>
    <a class="icon-link" href=@($"/Books/BookDelete/{Model.Id}")>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
        </svg>
        Delete
    </a>
    <a class="icon-link" href=@($"/Books/Books")>
        Go back to list of books
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
        </svg>
    </a>
</p>