@model TitlesOrganizer.Application.ViewModels.BookVMs.ListBookForListVM

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var (book, index) in Model.Books.Select((value, index) => (value, index + 1))) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = book.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = book.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = book.Id })
            </td>
        </tr>
}
    </tbody>
</table>
